header {
    background: #000000;
    width: 1200px;
    height: 400px;
}
body {
    background: #B5B5B5;
}

/*.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.caixa */ header p {
    display: inline;
    position: absolute;
    top: 25px;
    left: 45px;
    color: #ffffff;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 26px;
    text-decoration: none;
    font-size: 25px;  
    /*aplicar neon*/
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}
#tat {
    position: absolute; 
	right: 0px;
    top: 0px; 
    width: 35%;
    height:66%;
    opacity: 0.60;
}

#tat:hover { position: absolute;
    transition: linear;
    opacity: 100;
}

#logo {
    position: relative;
    top: 50px;
    width: 25%;
    height: 30%;
}
nav {
    position: relative;
    top: 100px;
    left: 15px;
    bottom: 0px;
}
nav li{
    display: inline ;
    margin: 0 0 0 15px;
}
nav a:hover {
    font-size: 22px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
    font-size: 20px;
   
}

nav a:hover {
    text-decoration: underline;
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF;
}

.produtos {
    width: 1050px;
    
    margin: 0 auto;
    padding: 50px 0;
}
.produtos:hover {
    background: #4F4F4F;  
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px #000000;
    border-radius: 10px;
}
.produtos li {
    color: #ffffff;
}
.produtos li #fine {
    width: 250px;
    height: 250px;
}
.produtos li #kratos {
    width: 250px;
    height: 250px;
}
.produtos li #free {
    width: 250px;
    height: 250px;
}
.produtos li:hover {
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}

.produtos li:active {
    border-color: #ffffff;
}

.produtos li:hover h2 {
    font-size: 34px;
    color:  #ffffff;
}

.produtos h2 {
    font-size: 30px;
    font-size: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("image/bg.jpg");
    padding: 40px 0;
}

.rodape-texto {
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px;
}
#rodape {
    width: 200px;
    height: 200px;
}

