
header {
    background: #000000;
    width:100%;
    height: 420px;
}

header p {
    display: inline;
    position: absolute;
    top: 25px;
    left: 45px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 26px;
    text-decoration: none;
    font-size: 25px;  
    /*aplicar neon*/
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #B5B5B5;
}

main {
    width: 100%;
}

.principal {
    background:linear-gradient(gray,white);
    padding: 3em 0;
    width: 100%;
    height: 250px;
    text-align: center;
    color: #FFFFFF;
    transition: 1s all;
 
}

.principal:hover {
    background: #696969;  
}

.principal p{
    font-size: 25px;
    line-height: 30px;
}

.titulo-principal {
    font-size: 2em;
    margin: 0 30px 30px 0;
    text-align: center;
}

.principal p:hover, .titulo-principal:hover {
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}

form {
    margin: 40px;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.test{
    width: 420px;
    height: 100%;
    position: relative;
    top: -255px;
    left: 850px;
    opacity: 0.60;
}

.tat {
    position: relative; 
	right: 0px;
    top: 0px; 
    width: 420px;
    height:auto;
}

.test:hover { 
    background: gray;
    transition: 1s;
    opacity: 100;
}

#logo {
    position: relative;
    top: 50px;
    width: 25%;
    height: 60%;
}

nav {
    position: absolute;
    top: 380px;
    left: 15px;
    bottom: 0px;
    margin-bottom: 20px;
}
nav li{
    display: inline ;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
    font-size: 20px;   
}

nav a:hover {
    font-size: 22px;
    text-decoration: underline;
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF;
}

.produtos {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos:hover {
    background: #4F4F4F;  
    transition: 1s;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px #000000;
    border-radius: 10px;
    color: #ffffff;
    transition: 1s all;
}

.produtos li:hover {
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF ;   
    transform: scale(1.1);
}

.produtos li #fine {
    width: 250px;
    height: 250px;
}
.produtos li #kratos {
    width: 250px;
    height: 250px;
}
.produtos li #free {
    width: 250px;
    height: 250px;
}

.produtos li:active {
    border-color: #ffffff;
}

.produtos li:hover h2 {
    font-size: 34px;
    color:  #ffffff;
}

.produtos h2 {
    font-size: 30px;
    font-size: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("image/bg.jpg");
    padding: 40px 0;
}

.rodape-texto {
    color: #ffffff;
    font-size: 15px;
    margin-top: 20px;
}
.rodape {
    width: 200px;
    height: 200px;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 20px;
}
.checkbox {
    margin: 0 0 30px;
}

form .horario {
    margin: 0 0 30px;
}

label.radio-config {
    margin: 0 0 30px;
}

.input-padrao {
    width: 50%;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #4F4F4F;
    color: white;
    font-size: 19px;
    transition: 0.3s all;
    cursor: pointer;
    border: none;
}

.enviar:hover {
    background: #000000;; 
    transform: scale(1.2); 
    text-shadow:
       0px 0px 10px #00FFFF,
       0px 0px 10px #00FFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.mapa {
    padding: 2em 0;
    text-align: center;
    background: linear-gradient(white, lightgray);  
}

.mapa p {
    margin: 0 0 2em;
    font-size: 25px;
    line-height: 30px;
 }

 .mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

 .beneficios {
     background: linear-gradient( lightgray,gray,#4F4F4F);  
 }

 .conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
        margin: 0 0 0.5em;
        font-size: 25px;
        line-height: 30px;    
}

.itens::before{
    line-height: 2;
    content: "✪";
}

.imagem-beneficios {
    width: 60%;
    box-shadow: 10px 30px 50px 10px;
}

.fale-conosco {
    text-align: center;
    background: linear-gradient(#4F4F4F,black)
}

.titulo-fale {
    color: white;
    font-size: 2em;
    margin: 0 30px 30px 0;
    text-align: center;
}

.titulo-principal:hover, .mapa p:hover, .itens:hover {
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #000000,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF  
}

.contact {
    padding-bottom: 20px;
   font-size: 25px;
   line-height: 30px; 
   text-align: center;
   color: white;
}

.video {
    width: 500px;
    margin: auto;
    padding: 20px;
}
footer {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
        
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

    .test {
    
        position: static;
    }
}
